html {
  --top-spacing: 69px;

  color: black;
  scroll-behavior: smooth;
}

:focus,
:active,
button:focus {
  outline: none;
}

h1 {
  font-size: theme('fontSize.4xl');
  font-family: theme('fontFamily.title');
}

h3 {
  font-size: theme('fontSize.2xl');
  font-family: theme('fontFamily.spartan');
}

p {
  font-family: theme('fontFamily.spartan');
  font-size: theme('fontSize.lg');
  line-height: theme('lineHeight.loose');
}
