html {
  --top-spacing: 69px;

  color: black;
}

:focus,
:active,
button:focus {
  outline: none;
}

h1 {
  font-size: theme('fontSize.4xl');
  font-family: theme('fontFamily.title');
}

h3 {
  font-size: theme('fontSize.2xl');
  font-family: theme('fontFamily.spartan');
}

p {
  font-family: theme('fontFamily.spartan');
  font-size: theme('fontSize.base');
}

li {
  margin-bottom: theme('spacing.3');
}

ul ul {
  list-style-type: circle;
}

a {
  font-weight: theme('fontWeight.bold');
  text-decoration: underline;

  &:hover {
    color: theme('colors.purple');
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
